.case_info {
  font-size: 1.8rem;
  color: #666;
  text-align: justify;
  letter-spacing: 0;
}

.home_btn {
  background-color: white;
  outline: 2px solid #ff000d;
  color: black;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  transition: transform 0.3s;
  font-size: 1.8rem;
  margin-top: 5rem;
  padding: 1.2rem 8.4rem;
}

@keyframes transform {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3px);
  }
}

.home_btn:hover {
  transform: translateY(-3px);
}
